 html {
    background-image: url("pictures/patterns/background.png");
}

body {background: transparent!important}

a {
	color: black;
}

/* ----- Pictures----- */

img.avatar.avatar-16.photo {
	width: 30px!important;
	height: 30px!important;
	border-radius: 30px!important;
	margin-right: 40px!important;
	float: left;
}

/* ===== Top Menu ===== */

#wp-admin-bar-comments, .notice, #wp-admin-bar-itsec_admin_bar_menu,#wp-admin-bar-wp-rocket
{display: none}

#wpbody-content {
	padding-top: 20px;
}


#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label, #adminmenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover
{color: #a10000!important}

a.ab-item, #wpadminbar #wp-admin-bar-user-info .display-name, #wpadminbar #wp-admin-bar-user-info .username
{color: white!important}


/* ===== Dashboard ===== */

#dashboard_primary, #postbox-container-3, #wpfooter, #screen-meta, #screen-meta-links, #wp-admin-bar-view-store, #postcustom, #pageparentdiv {display: none}

/* ----- User ----- */

/*
#wp-admin-bar-abus_switch_to_user, #wp-admin-bar-my-account {
	background-color: #333!important
}
*/

#adminmenu .wp-submenu a:active, #adminmenu .wp-submenu a:active, #adminmenu a:active, #adminmenu li.menu-top>a:focus {
    color: #fff!important
}



/* ===== Side Menu ===== */

.wp-menu-name {
    text-transform: uppercase;
    font-size: 14px;
}

.wp-menu-open a {
    color: white!important;
}
#adminmenu li.menu-top div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #bdbdbd!important;
}

#adminmenu .wp-submenu a:hover {
  background-color: #222;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #111!important;
}

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  background-color: #a10000;
}

li.toplevel_page_et_divi_options div.wp-menu-image:before {
  content: "\6a";

}

/* ===== Blocks ===== */

.postbox {
    min-width: 255px;
    border: 1px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: white;
}

.wpseostats tr:nth-child(odd), .woocommerce-reports-wide .postbox h3.stats_range ul, .woocommerce-reports-wrap .postbox h3.stats_range ul, #woocommerce-coupon-data ul.wc-tabs, #woocommerce-product-data ul.wc-tabs, .woocommerce ul.wc-tabs, div.mce-toolbar-grp, #post-status-info, #major-publishing-actions,  .alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
    	background-image: url("pictures/patterns/brushed.png");

}

/* ===== Buttons ===== */

.wp-core-ui .button-primary {
    background: #6B6761;
    border:0!important;
    border-radius: 0!important;
    -webkit-box-shadow: 0 1px 0 #222;
    box-shadow: 0 1px 0 #222;
    color: #fff;
    text-decoration: none;
    text-shadow: none!important;
    font-size: 16px;
    padding: 5px!important;
    height: auto;
}


#wp-admin-bar-my-account >li {
    background-color: #222!important;
}

#wp-admin-bar-comments {
    background-color: #A9A39B!important;
}

.nav-tab {
    background-color: #fff;
     border-top: 1px solid #DCD5CA;
}

.wp-admin-bar-my-account>li {
    background-color: #222;
}

.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #333;
    border-color: #ccc;
    border-radius: 0!important;
    background: #fff;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
}

.wp-core-ui .button-primary:hover {
    background: #8B867F;
    border:0!important;
    -webkit-box-shadow: 0 1px 0 #222;
    box-shadow: 0 1px 0 #222;
    color: #fff;
    text-decoration: none;
    text-shadow: 0;
    font-size: 16px;
    padding: 5px;
}

/* ===== Forms===== */

#major-publishing-actions input, #minor-publishing-actions .preview, #minor-publishing-actions input, #et_pb_toggle_builder, a#et_load_category_page, .wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active, .wp-core-ui .button-primary{
  margin: 10px auto!important;
  padding: 10px 12px!important;
  background: #222!important;
  border: 1px solid white!important;
  color: #fff!important;
  text-align: center!important;
  text-decoration: none!important;
  text-transform: uppercase!important;
  transform-style: flat!important;
  transition all: 250ms ease-out!important;
  box-shadow: 0 8px 10px -10px rgba(31,31,31,0.5)!important;
  font-size: 14px!important;
  cursor: pointer!important;
  height: auto!important;
  }

#major-publishing-actions input:hover, #minor-publishing-actions .preview:hover, #minor-publishing-actions input:hover{
  border-color: #dedede!important;
  background: #fff!important;
  color: #222!important;
  border: 1px solid goldenrod!important;
  box-shadow: 0 20px 20px -10px rgba(31,31,31,0.5)!important
  border-radius: 0!important;
}


/* ----- woocommerce ----- */
td.description, th#description, td.restrictions, th#restrictions, td.sku.column-sku, th#sku {display: none}




/* ----- DIVI ----- */



span.et_pb_layout_buttons {
	margin-top:-15px;

}

a#et_pb_fb_cta.button.button-primary.button-large {
  width: 250px;
}

a#et_pb_toggle_builder.button.button-primary.button-large {
  width: 380px;
}
#et_pb_toggle_builder:before {
  font-family: 'ETmodules';
	content: "\e033";
  padding-top: 10px;
}

#et_pb_toggle_builder, #et_pb_fb_cta {
  font-size: 20px!important;
}

div.et_pb_toggle_builder_wrapper {margin-top: 0px}

#et_pb_fb_cta:before {
  padding-top: 10px;
}

#et_settings_meta_box .hndle:before {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding: 10px 5px;
}

#et_settings_meta_box .hndle {
	background-color: black;
}

#et_pb_layout .hndle{
	color: white;
}

div#et_dashboard_header {
	background-color: #222;
}

#et_pb_layout_controls {
  background-color: #222;
}


#et_settings_meta_box .hndle {
	background-color: #222
}

#et_pb_layout_controls .et-pb-layout-buttons {
	background: #222;
}

#et_pb_layout button.handlediv.button-link, #et_pb_layout button.handlediv.button-link:hover {
  background-color: #222;
  height: 58px;
}

a.et-pb-modal-save.button.button-primary {
margin: 0 !important;
padding: 0px !important;
background: #222 !important;
border: 0px solid white !important;
color: #fff !important;
text-align: center !important;
text-decoration: none !important;
text-transform: uppercase !important;
transform-style: flat !important;
transition
all: 250ms ease-out !important;
box-shadow: 0 0 0 0 !important;
font-size: 14px !important;
cursor: pointer !important;
height: auto !important;
}

a.button-primary.et_pb_layout_button_load {
  padding: 0!important;
}

div#postdivrich.postarea.wp-editor-expand { background-color: white }

/*ul#wp-admin-bar-top-secondary.ab-top-secondary.ab-top-menu {
	float: left!important;
}
*/
