 html {
    background-image: url("pictures/patterns/background.png");
}

a {
	color: black;
}

/* ----- Pictures----- */

img.avatar.avatar-16.photo {
	width: 30px!important;
	height: 30px!important;
	border-radius: 30px!important;
	margin-right: 40px!important;
	float: left; 
}

/* ===== Top Menu ===== */

#wpadminbar  {
	height: 30px;
	padding: 10px 40px;
	background-image: url("pictures/patterns/stressed.png");
	border-bottom: 2px white solid;
}

#et_dashboard_logo {
	background-image: url("pictures/patterns/stressed.png");

}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	padding-top: 10px;
	background-color: #111;
}

#wpbody-content {
	padding-top: 20px;
}

#wp-admin-bar-new-content {
    float: right;
    background: #111;
}


/* ----- Home ----- */

#wpadminbar ul#wp-admin-bar-root-default>li {
    margin-left: -35px;
    float: left;
}

#wp-admin-bar-site-name a{
	font-size: 18px;
}
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    font-weight: normal;
    position: relative;
    top: 1px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: none;
    background-image: url("pictures/logo-white.png");


}

/* ----- User ----- */

/* 
#wp-admin-bar-abus_switch_to_user, #wp-admin-bar-my-account { 
	background-color: #333!important 
}
*/

#adminmenu .wp-submenu a:active, #adminmenu .wp-submenu a:active, #adminmenu a:active, #adminmenu li.menu-top>a:focus {
    color: #fff!important
}



#wp-admin-bar-view-post_type {
	float:left;
	margin: 100px;
}
/* ===== Side Menu ===== */

.wp-menu-name {
    text-transform: uppercase;
    font-size: 14px;
}

.wp-menu-open a {
    color: white!important;
}

/* ===== Blocks ===== */

.postbox {
    min-width: 255px;
    border: 1px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: white;
}

.wpseostats tr:nth-child(odd), .woocommerce-reports-wide .postbox h3.stats_range ul, .woocommerce-reports-wrap .postbox h3.stats_range ul, #woocommerce-coupon-data ul.wc-tabs, #woocommerce-product-data ul.wc-tabs, .woocommerce ul.wc-tabs, div.mce-toolbar-grp, #post-status-info, #major-publishing-actions,  .alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
    	background-image: url("pictures/patterns/brushed.png");

}

/* ===== Buttons ===== */

.wp-core-ui .button-primary {
    background: #6B6761;
    border:0!important;
    -webkit-box-shadow: 0 1px 0 #111;
    box-shadow: 0 1px 0 #111;
    color: #fff;
    text-decoration: none;
    text-shadow: none!important;
    font-size: 16px;
    padding: 5px!important;
    height: auto;
}


#wp-admin-bar-my-account >li {
    background-color: #111!important;
}

#wp-admin-bar-comments {
    background-color: #A9A39B!important;
}

.nav-tab {
    background-color: #fff;
     border-top: 1px solid #DCD5CA;
}

.wp-admin-bar-my-account>li {
    background-color: #111;
}

.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #333;
    border-color: #ccc;
    background: #fff;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
}

.wp-core-ui .button-primary:hover {
    background: #8B867F;
    border:0!important;
    -webkit-box-shadow: 0 1px 0 #111;
    box-shadow: 0 1px 0 #111;
    color: #fff;
    text-decoration: none;
    text-shadow: 0;
    font-size: 16px;
    padding: 5px;
}

/* ===== Forms===== */

#major-publishing-actions input, #minor-publishing-actions .preview, #minor-publishing-actions input, #et_pb_toggle_builder, a#et_load_category_page, .wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active, .wp-core-ui .button-primary{
  margin: 10px auto!important;
  padding: 10px 12px!important;
  background: #111!important;
  border: 1px solid white!important;
  color: #fff!important;
  text-align: center!important;
  text-decoration: none!important;
  text-transform: uppercase!important;
  transform-style: flat!important;
  transition all: 250ms ease-out!important;
  box-shadow: 0 8px 10px -10px rgba(31,31,31,0.5)!important;
  font-size: 14px!important;
  cursor: pointer!important;
  height: auto!important;
  }

#major-publishing-actions input:hover, #minor-publishing-actions .preview:hover, #minor-publishing-actions input:hover{
  border-color: #dedede!important;
  background: #fff!important;
  color: #111!important;
  border: 1px solid goldenrod!important;
  box-shadow: 0 20px 20px -10px rgba(31,31,31,0.5)!important
}









/* ----- DIVI ----- */

#epanel-header {
  display: none;
}

span.et_pb_layout_buttons {
	margin-top:-15px; 

}

#et_pb_toggle_builder.et_pb_builder_is_used {
    display: none;
}

a#et_pb_toggle_builder.button.button-primary.button-large:before {
	display: none;
}

#et_settings_meta_box .hndle:before {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding: 10px 5px;
}

#et_settings_meta_box .hndle {
	background-color: black;
}

#et_pb_layout .hndle{
	display:none;
	color: white;
}

div#et_dashboard_header {
	background-color: #111;
}

#et_pb_layout_controls {
  background-color: #111;
}


#et_settings_meta_box .hndle {
	background-color: #111
}

#et_pb_layout_controls .et-pb-layout-buttons {
	background: #111;
}

#et_pb_layout button.handlediv.button-link, #et_pb_layout button.handlediv.button-link:hover {
  background-color: #222;
  height: 58px;
}

a.et-pb-modal-save.button.button-primary {
margin: 0 !important; 
padding: 0px !important;
background: #111 !important;
border: 0px solid white !important;
color: #fff !important;
text-align: center !important;
text-decoration: none !important;
text-transform: uppercase !important;
transform-style: flat !important;
transition 
all: 250ms ease-out !important;
box-shadow: 0 0 0 0 !important;
font-size: 14px !important;
cursor: pointer !important;
height: auto !important;
}

a.button-primary.et_pb_layout_button_load {
  padding: 0!important;
}

div#postdivrich.postarea.wp-editor-expand { background-color: white }

/*ul#wp-admin-bar-top-secondary.ab-top-secondary.ab-top-menu {
	float: left!important;
}
*/


