.button 
  margin 10px auto
  padding 20px 25px
  background primary-color
  border 1px solid white
  color #fff
  text-align center
  text-decoration none
  text-transform uppercase
  transform-style flat
  transition all 250ms ease-out
  box-shadow 0 18px 10px -10px rgba(31,31,31,0.5)
  font-size 16px
  cursor pointer
  
.button:hover 
  border-color #dedede
  background-color #fff
  background #fff
  color #000
  border 1px solid goldenrod
  box-shadow 0 20px 20px -10px rgba(31,31,31,0.5)