.customize-control-ast-color .wp-color-result span {
	background: #f7f7f7;
}
.customize-control-ast-color .wp-color-result span.color-alpha {
	height:22px !important;
}
.customize-control-ast-color .ast-color-picker-alpha.wp-color-picker {
    width: 96px !important;
    line-height: 17px;
}
.customize-control-ast-color .wp-picker-clear {
    margin-left: 2%;
}